
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primrycolor:#ff274b;
    --secondarycolor: #f7bcf7;
    --lightcolor:#ffffff;
    --bgcolor-1:#171a1c;
    --bgcolor-2:#22282a;
    --padding: 8%;
}

html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 16px;
color: #ffffff
}
h1{
    font-size: 3.65rem;
    margin: 1.7rem 0;
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

h3{
    font-size: 1.5rem;
 margin-bottom: 3.5rem;
}
h4{
    font-size: 1.25rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.12rem;
    color: var(--secondarycolor);
}
span{
    color: var(--primrycolor);

}
.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
    display: flex;
    flex-direction: column;
}

nav{  
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    color: var(--lightcolor); 
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color:var(--primrycolor);
  
}
.bnt{
    background-color: var(--primrycolor);
    color: var(--lightcolor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}

.bnt:hover{
    background-color: transparent;
    border: 2px solid var(--primrycolor);
}
.content{
    flex-grow:1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenar-texts{ 
    position: relative;
    bottom: 70px;
}


.social{
    margin-top: 3.4rem;
}
.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition:   0.4s;
}
.social img:hover{
    transform: scale(1.2);
}
.container-images{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}
.container-images img{
    height: 100%;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
transition: bottom 1s, left 1s;
    
}
.container-images:hover .shape{
bottom: 40px;
}
.container-images:hover .pic{
    left: 45%;
    }
    .footer{
        background-color: #ff274b;
        color: #fff;
        padding: 2em;
        display: flex;
        justify-content: space-between;
    }
    .footer-title{
        font-size: 1.3em;
        font-weight: 400;
    }
    .footer-title span{
        color:#f3f721 ;
    }
    .footer .social-icons a{
        color: #fff;
    font-size: 1.3em;
    padding: 0 10px 0 0 ;
    margin: 5px;
    }
    .footer.social-icons a:hover{
        transform: scale(1.2);
    }